{% extends 'base.html.twig' %}

{% block title %}SUBDIVISION ECCLESISASTIQUE{% endblock %}

{% block body %}
 <div class="container">
        <h1>Voir toutes les subdivisions ecclesisastiques</h1>
    <table>

        <tr>
            <td>Nom du Diocèse</td>
            <td>Ajouté le</td>

            <td>Nom de la subdivision</td>
            <td>Niveau de la subdivision</td>
            <td>Lieu de la subdivision</td>
            <td>Action</td>
        </tr>
        {% for subDivEcclesiastique in subDivEcclesiastiques %}
            <tr>
                <td>{{subDivEcclesiastique.dioceseSubdivision.nomDiocese}}</td>
                <td>{{subDivEcclesiastique.createdAt | date('d/m/Y')}} à {{subDivEcclesiastique.createdAt | date('H:i')}}</td>
                <td>{{subDivEcclesiastique.nomSubdivision}}</td>
                <td>{{subDivEcclesiastique.niveauSubdivision}}</td>
                <td>{{subDivEcclesiastique.lieuSubdivision}}</td>
                <td><a href="{{ path('subdivision_ecclesiastique_show',{'id': subDivEcclesiastique.id}) }}" class="btn btn-primary">Détails</a></td>
                <td><a href="{{ path('subdivision_ecclesiastique_edit',{'id': subDivEcclesiastique.id}) }}" class="btn btn-success">Modifier</a></td>
                <td><a href="{{ path('subdivision_ecclesiastique_show',{'id': subDivEcclesiastique.id}) }}" class="btn btn-danger">Supprimer</a></td>
            </tr>
        {% endfor %}
        </table>
        <a href="{{path('subdivision_ecclesiastique_create')}}" class="btn btn-primary"> Nouvelle subdivision</a>
    </div>

{% endblock %}
