{% extends 'base.html.twig' %}

{% block title %}DIOCESE{% endblock %}

{% block body %}
 <div class="container">
        <h1>Voir toute les diocèse</h1>
    <table>

        <tr>
            <td>Nom de l'Archidiocèse</td>
            <td>Ajouté le</td>

            <td>Nom du diocèse</td>
            <td>Nom de l'evêque actuel</td>
            <td>Nom du vicaire général</td>
            <td>Action</td>
        </tr>
        {% for diocese in dioceses %}
            <tr>
                <td>{{diocese.archidiocese.nomArchidiocese}}</td>
                <td>{{diocese.createdAt | date('d/m/Y')}} à {{diocese.createdAt | date('H:i')}}</td>
                <td>{{diocese.nomDiocese}}</td>
                <td>{{diocese.evequeActuelle}}</td>
                <td>{{diocese.vicaireGenerale}}</td>
                <td><a href="{{ path('diocese_show',{'id': diocese.id}) }}" class="btn btn-primary">Détails</a></td>
                <td><a href="{{ path('diocese_edit',{'id': diocese.id}) }}" class="btn btn-success">Modifier</a></td>
                <td><a href="{{ path('diocese_show',{'id': diocese.id}) }}" class="btn btn-danger">Supprimer</a></td>
            </tr>
        {% endfor %}
        </table>
        <a href="{{path('diocese_create')}}" class="btn btn-primary"> Nouveau Diocèse</a>
    </div>

{% endblock %}