{% extends 'base.html.twig' %}

{% block title %}ARCHIDIOCESE{% endblock %}

{% block body %}
 <div class="container">
        <h1>Voir tous les archidiocese</h1>
    <table>

        <tr>
            <td>Nom du Pays</td>
            <td>Ajouté le</td>

            <td>Nom de l'archidiocese</td>
            <td>Nom de l'archevêque</td>
            <td>Action</td>
        </tr>
        {% for archidiocese in archidioceses %}
            <tr>
                <td>{{archidiocese.pays.nomPays}}</td>
                <td>{{archidiocese.createdAt | date('d/m/Y')}} à {{archidiocese.createdAt | date('H:i')}}</td>
                <td>{{archidiocese.nomArchidiocese}}</td>
                <td>{{archidiocese.nomArcheveque}}</td>
                <td><a href="{{ path('archidiocese_show',{'id': archidiocese.id}) }}" class="btn btn-primary">Détails</a></td>
                <td><a href="{{ path('archidiocese_edit',{'id': archidiocese.id}) }}" class="btn btn-success">Modifier</a></td>
                <td><a href="{{ path('archidiocese_show',{'id': archidiocese.id}) }}" class="btn btn-danger">Supprimer</a></td>
            </tr>
        {% endfor %}
        </table>
        <a href="{{path('archidiocese_create')}}" class="btn btn-primary"> Nouvelle Archidiocese</a>
    </div>

{% endblock %}
