{% extends 'base.html.twig' %}

{% block title %}PAROISSE{% endblock %}

{% block body %}
 <div class="container">
        <h1>Voir tous les paroisses</h1>
    <table>

        <tr>
            <td>Nom de la subdivision ecclesiastique</td>
            <td>Ajouté le</td>

            <td>Nom de la paroisse</td>
            <td>Adresse de la Paroisse</td>
            <td>Abbréviation de la Paroisse</td>
            <td>Action</td>
        </tr>
        {% for paroisse in paroisses %}
            <tr>
                <td>{{paroisse.subdivisionEcclesiastique.nomSubdivision}}</td>
                <td>{{paroisse.createdAt | date('d/m/Y')}} à {{paroisse.createdAt | date('H:i')}}</td>
                <td>{{paroisse.nomParoisse}}</td>
                <td>{{paroisse.adresseParoisse}}</td>
                <td>{{paroisse.abbreviationParoisse}}</td>
                <td><a href="{{ path('paroisse_show',{'id': paroisse.id}) }}" class="btn btn-primary">Détails</a></td>
                <td><a href="{{ path('paroisse_edit',{'id': paroisse.id}) }}" class="btn btn-success">Modifier</a></td>
                <td><a href="{{ path('paroisse_show',{'id': paroisse.id}) }}" class="btn btn-danger">Supprimer</a></td>
            </tr>
        {% endfor %}
        </table>
        <a href="{{path('paroisse_create')}}" class="btn btn-primary"> Nouveau Paroisse</a>
    </div>

{% endblock %}