{% extends 'base.html.twig' %}

{% block title %}PAYS{% endblock %}

{% block body %}
    <div class="container">
        <h1>Voir tous les pays</h1>
    <table>

        <tr>
            <td>Ajouté le</td>
            <td>Nom du Pays</td>
            <td>Nom du Cardinal</td>
            <td>Action</td>
        </tr>
        {% for pays in payss %}
            <tr>
                <td>{{pays.createdAt | date('d/m/Y')}} à {{pays.createdAt | date('H:i')}}</td>
                <td>{{pays.nomPays}}</td>
                <td>{{pays.nomCardinale}}</td>
                <td><a href="{{ path('pays_show',{'id': pays.id}) }}" class="btn btn-primary">Détails</a></td>
                <td><a href="{{ path('pays_edit',{'id': pays.id}) }}" class="btn btn-success">Modifier</a></td>
                <td><a href="{{ path('pays_show',{'id': pays.id}) }}" class="btn btn-danger">Supprimer</a></td>
            </tr>
        {% endfor %}
        </table>
        <a href="{{path('pays_create')}}" class="btn btn-primary"> Nouveau Pays</a>
    </div>



{% endblock %}
